slides/note1-1.pdf
slides/note2-2023.pdf
slides/note3-2023.pdf
slides/note4.pdf
slides/note5.pdf
slides/note6.pdf
slides/note7-1.pdf
slides/note8-2023.pdf
slides/note9 .pdf
slides/note10.pdf
slides/note11.pdf
slides/note12.pdf
slides/note13.pdf
slides/note14.pdf
slides/note15.pdf
slides/note16.pdf
slides/note17.pdf
slides/note18.pdf
slides/note19.pdf
slides/note20-2023.pdf
slides/note21.pdf
slides/note22 (1).pdf
slides/note23 (1).pdf
main.aux
main.fdb_latexmk
main.fls
main.log
main.synctex.gz
answerlessmain.aux
answerlessmain.fdb_latexmk
answerlessmain.fls
answerlessmain.log
answerlessmain.synctex.gz
main copy.aux
main copy.fdb_latexmk
main copy.fls
main copy.log
main copy.synctex.gz
